<center>This assignment was issued by BRAC University</center>
<br>
<center>It was completed by Sadnan Islam</center>

---
<center><a href='https://www.linktr.ee/sadnan736'><img src='https://github.com/sadnan736/PythonA2Z-CSE110-BRACU/blob/main/Socials.png?raw=true'  width="200"/></a></center>

## **Task 1**

Write the Python code of a program that reads two numbers from the user, and prints their sum,
product, and difference. <br>
###### *Hint: subtract the second number from the first one*

---

**Example 1:** <br>
**Sample Input:**<br>
4 <br>
5 <br>
**Sample Output:** <br>
Sum = 9 <br>
Product = 20<br>
Difference = -1<br>
Example 2:<br>

---
**Sample Input:** <br>
30<br>
2<br>
**Sample Output:**<br>
Sum = 32<br>
Product = 60<br>
Difference = 28<br>

---

In [ ]:
# the following solution and explanation was provided by BRAC University.

# First, we take 2 numbers as input from the user
# Read 2 numbers as input from the user means taking 2 numbers as input
# from the user using the input function
var_1 = input('Please enter the first number: ')
var_2 = input('Please enter the second number: ')

#Since input() function converts everything to String,
#For performing any kind of mathematical operation we need to convert them to int.
#For this conversion, we need to use the int() function

#But at first, we may clarify whether the inputs are actually Strings or not.
print(type(var_1))
print(type(var_2))

#Then we convert the Strings to integer using the int() function
var_3 = int(var_1)
var_4 = int(var_2)

#Input taking and conversion can be done in a single line as shown below
#var_1 = int(input('Please enter the first number: '))
#var_2 = int(input('Please enter the second number: '))

#We may then perform Addition
total = var_3 + var_4

#Multiplication
product = var_3 * var_4
#Subtraction
difference = var_3 - var_4

#And then print all the calculated results
print("Sum =", total)
print("Product =", product)
print("Difference =", difference)

## **Task 2**

Write the Python code of a program that reads the radius of a circle and prints its circumference
and area.

---
###### *hint(1): we may import math and then use math.pi for getting the value of pi.* <br>
###### *For details, we can read from https://docs.python.org/3/library/math.html*
###### *hint(2): we can import math and use the math function for making squares with math.pow(number, power) or we can simply use the power operator. For example: S**2.*

---

**Example 1:** <br>
**Sample Input:**<br>
4<br>
**Sample Output:**<br>
Area is 50.26548245743669<br>
Circumference is 25.132741228718345<br>

---
**Example 2:**<br>
**Sample Input:**<br>
3.5<br>
**Sample Output:**<br>
Area is 38.48451000647496<br>
Circumference is 21.991148575128552<br>

---

In [3]:
# the area calculation and the explanation until was given by BRACU University and slighly edited by me

import math

# taking input from the user, then converting it to float
# since radius can be a floating point value

radius = float(input("Please enter the radius value:"))

# squares can be made using these 3 ways, as give in hints
# all 3 ways generates the same result for area

# area = math.pi * radius ** 2
# print("Area is:", area)

#area = math.pi * radius * radius
# print("Area is:", area)

area = math.pi * math.pow(radius, 2)
print("Area is:", area)


circum = 2* math.pi *radius
print('Circumference is', circum)

Area is: 38.48451000647496
Circumference is 21.991148575128552

## **Task 3**

Write the Python code of a program that reads two numbers from the user. The program should
then print "First is greater" if the first number is greater, "Second is greater" if the second number
is greater, and "The numbers are equal" otherwise

---
**Sample Input 1:**<br>
7<br>
3<br>
**Sample Output 1:**
First is greater<br>

---
**Sample Input 2:**<br>
-33<br>
-3<br>
**Sample Output 2:**<br>
Second is greater<br>

---
**Sample Input 1:**<br>
11<br>
11<br>
**Sample Output 1:**<br>
The numbers are equal<br>

In [ ]:
# take 2 numbers a inputs
# we will convert the inputs to floats because we can't cast float strings into intergers
# if someone inputs a float it will show syntax error

numb1  = float(input())
numb2  = float(input())

# now we can make some if else conditions
# remember "==" gives us a value of True if both sides are equal else returns False
# we only go into a if elif condition if ye have True
# suppose we have a = 1, b = 1
# now we if we do x = a == b, the value will be True
# and now if we type "if x:", it will go into that condition

# let's check if numb1 is bigger
if numb1 > numb2:

    # if numb1 is bigger than numb2, we will go into this condition
    # now lets print
    print(f'First is greater')

# if first condition wasn't True, we can give another linked condiiton with "elif"
# which will only run when first if condition is False

elif numb2 > numb1:

    print('Second is greater')

# now if 'elif' condition was also false, we have to check if they're equal
# we can go about this in two different ways
# firstly we can just create another elif condition that just checks if they're equal with '=='
# or we can use 'else' condition
# now if we have two real numbers, none of them is bigger or smaller than other one. what are they?
# they are equal
# this what else condition is
# after checking all conditions and none of them giving us a True outcome,
# if there's an else condition then Python will go into that

else:
    print('The numbers are equal')

## **Task 4**

Write the Python code of a program that reads two numbers, subtracts the smaller number from
the larger one, and prints the result.

---
###### *Hint: First, we may check which number is greater*

---
**Sample Input 1:**<br>
-40<br>
-4<br>
**Sample Output 1:**<br>
36<br>
**Explanation:** -4 > -40 so -4 - (-40) = -4 + 40 = 36<br>


---
**Sample Input 2:**<br>
6<br>
2<br>
**Sample Output 2:**<br>
4<br>

---
**Sample Input 3:**<br>
5<br>
5<br>
**Sample Output 3:**<br>
0<br>

In [7]:
# take inputs
f1 = float(input())
f2 = float(input())

# check which is bigger and substract the smaller
# add equals in one of the conditions because we wouldn't get any output if user had input two equal numbers

if f1>=f2:
  print(int(f1-f2))
elif f1<f2:
  print(int(f2-f1))

5

## **Task 5**

Write the Python code of a program that reads a number, and prints "The number is even" or
"The number is odd", depending on whether the number is even or odd. <br>

###### hint(1): *we may use the modulus (%) operator to check for even or odd*
###### hint(2): *we can consider the number to be an integer*

---

**Sample Input 1:** <br>
7<br>
**Sample Output 1:**<br>
The number is odd<br>

---
**Sample Input 2:**<br>
10<br>
**Sample Output 2:**<br>
The number is even<br>

---
**Sample Input 3:**<br>
-44<br>
**Sample Output 3:**<br>
The number is even<br>

In [ ]:
numb = int(input())

# if an even number is divided by 2, the remainder will always be 0
# we can get the remainder of an operation with the modulus (%) operator and check if that's zero
remainder = numb%2
if remainder == 0:
  print("The number is even")

else:
  print("The number is odd")

## **Task 6**

Write the Python code of a program that reads an integer as input from the user, and prints the
integer if it is a multiple of 2 OR 5 and prints "Not a multiple of 2 OR 5" otherwise. <br>
For example, 2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22 â€¦ i.e. this includes multiples of 2 only,
multiples of 5 only and multiples of 2 and 5 both.

###### hint(1): *we may use the modulus (%) operator for checking the divisibility*
###### hint(2): *we can consider the number to be an integer*

---


**Sample Input 1:** <br>
5<br>
**Sample Output 1:**<br>
5<br>

---
**Sample Input 2:**<br>
10<br>
**Sample Output 2:**<br>
10<br>

---
**Sample Input 3:**<br>
3<br>
**Sample Output 3:**<br>
Not a multiple of 2 OR 5<br>

In [ ]:
# take input
numb = int(input())

# we can use the "or" function to to join two conditions together,
# and even if one of them is True, the if condition will pass
# eg: True or True: True; # True or False : False; # False or False : False

if numb%2==0 or numb%5==0:
  print(numb)
else:
  print("Not a multiple of 2 OR 5")

## **Task**

Write a Python program that prints "hello world" in a console.

<table>
<tr>
    <th>Sample Input</th> 
    <th>Sample Output</th>
</tr>

<tr>
    <td></td>
    <td></td> 
</tr>

<tr>
    <td></td>
    <td></td> 
</tr>
 </table>

## **Task**

Write a Python program that prints "hello world" in a console.

<table>
<tr>
    <th>Sample Input</th> 
    <th>Sample Output</th>
</tr>

<tr>
    <td></td>
    <td></td> 
</tr>

<tr>
    <td></td>
    <td></td> 
</tr>
 </table>

## **Task**

Write a Python program that prints "hello world" in a console.

<table>
<tr>
    <th>Sample Input</th> 
    <th>Sample Output</th>
</tr>

<tr>
    <td></td>
    <td></td> 
</tr>

<tr>
    <td></td>
    <td></td> 
</tr>
 </table>

## **Task**

Write a Python program that prints "hello world" in a console.

<table>
<tr>
    <th>Sample Input</th> 
    <th>Sample Output</th>
</tr>

<tr>
    <td></td>
    <td></td> 
</tr>

<tr>
    <td></td>
    <td></td> 
</tr>
 </table>

## **Task**

Write a Python program that prints "hello world" in a console.

<table>
<tr>
    <th>Sample Input</th> 
    <th>Sample Output</th>
</tr>

<tr>
    <td></td>
    <td></td> 
</tr>

<tr>
    <td></td>
    <td></td> 
</tr>
 </table>

## **Task**

Write a Python program that prints "hello world" in a console.

<table>
<tr>
    <th>Sample Input</th> 
    <th>Sample Output</th>
</tr>

<tr>
    <td></td>
    <td></td> 
</tr>

<tr>
    <td></td>
    <td></td> 
</tr>
 </table>

## **Task**

Write a Python program that prints "hello world" in a console.

<table>
<tr>
    <th>Sample Input</th> 
    <th>Sample Output</th>
</tr>

<tr>
    <td></td>
    <td></td> 
</tr>

<tr>
    <td></td>
    <td></td> 
</tr>
 </table>

## **Task**

Write a Python program that prints "hello world" in a console.

<table>
<tr>
    <th>Sample Input</th> 
    <th>Sample Output</th>
</tr>

<tr>
    <td></td>
    <td></td> 
</tr>

<tr>
    <td></td>
    <td></td> 
</tr>
 </table>

## **Task**

Write a Python program that prints "hello world" in a console.

<table>
<tr>
    <th>Sample Input</th> 
    <th>Sample Output</th>
</tr>

<tr>
    <td></td>
    <td></td> 
</tr>

<tr>
    <td></td>
    <td></td> 
</tr>
 </table>

## **Task**

Write a Python program that prints "hello world" in a console.

<table>
<tr>
    <th>Sample Input</th> 
    <th>Sample Output</th>
</tr>

<tr>
    <td></td>
    <td></td> 
</tr>

<tr>
    <td></td>
    <td></td> 
</tr>
 </table>